.dashboard{
    background: #e0e1dc;
    height: 100vh;
 
}

.dashboardglass{
    display: grid;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.54);
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
    gap: 10px
}