.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 2rem;
    transition: all 300ms ease;
    background-color: rgba(255, 255, 255, 0.54) !important;
}

.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 0%;
}

.logo>img{
    width: 3rem;
    height: 3rem;
}

.logo>span{
    /* color: rgb(239, 88, 113); */
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

.menu{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 1rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}

.menuItem:hover{
    cursor: pointer;
}

.active{
    background: #7c8da5;
    margin-left: 0;
}

.active::before{
    content: "";
    width: 8px;
    height: 100%;
    background: #7c8da5;
    margin-right: calc(1rem -8px);
}

/* .menuItem:last-child{
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
} */