.profileBtn {
    background-color: orangered;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    color: white;
}

.profile {
    margin-top: 85px;
}

.profilePicture {
    height: 580px;
    background-color: white;
    border-radius: 8px;
}

.profileDetails {
    height: 580px;
    background-color: white;
    border-radius: 8px;
}

.changePassword {
    height: 550px;
    background-color: white;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: white; 
     border: 1px solid black;
     border-radius: 100%;
    color: black;
    display: inline-block;
    padding: 2px 6px;
    cursor: pointer;
    position: absolute;
    top: 4%;
    left: 72%;
    transform: translate(-50%, -50%);
}