.flip-card {
  background-color: transparent;
  width: 300px;
  height: 310px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 98%;
  height: 98%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}
.flip-card-front {
  /* background-image: linear-gradient(45deg, #6f04d9, #d9048e); */
  
  /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
  /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
  /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
  background-color: #E5E4E2;
}
.flip-card-front img {
  width: 280px;
  margin-top: 0.5rem;
}
.flip-card-back {
  /* background-image: linear-gradient(315deg, #6f04d9, #d9048e); */
 
  /* background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%); */
  /* background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%); */
  /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
  background-color: #7e7f83;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back img {
  width: 190px;
  margin-top: 1rem;
}
.flip-card-back h3 {
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  font-family:"Dancing Script"
}
.flip-card-back h1 {
  margin: 0;
  font-family:"Roboto"
}
