.container1 {
     width: 100%;
     height: 100vh;
     background-image: url("../../images/0.jpg");
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     display: table;
 }

 .container2 {
     width: 100%;
     height: 100vh;
     background-image: url("../../images/wedding2.jpg");  
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     display: table;
 }
/* 
 .heading{
    font-size: 5rem;
    color: tomato;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
 } */

