.datatable{
    height: 600px;
    padding: 20px;
}

.tableContainer{
    -webkit-box-shadow: 12px 14px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 12px 14px 20px 10px rgba(201, 201, 201, 0.47);
    padding: 10px;
}